/* 
 hier staat de styling van de contact page 
*/

.contactImage{
    height: 200px;
    width: 335px;
    padding: 15px;
}

.contactLink{
    display: block;
    padding: 0px 15px;
}

.contact{
    display: inline-block;
}