.eye {
    width: 25px;
    height: 25px;
    position: absolute;
}

.lectoratenImage{
    width: 173px;
    height: 150px;
    float: left;
    padding-right: 15px;
}

.container{
    float: left;
    margin-right: 100px;
    margin-top: 40px;
}
.container p{
    width: 450px;
    font-size: 12px;
    margin-bottom: 25px;
}

/* 
ik heb dit moeten doen omdat de footer een stuk langer is geworden achter de content.
dit veroorzaakte problemen dat ik geen ruimte tussen me block had. 
*/
.content-1{
    margin: 50px 150px 500px;
}