.header{
    display: flex;
    background-color: #223343;
    width: 100%;
    height: 10vh;
}

.header .logo img{
    background-color: #ffffff;
    height: 10vh;
}

/* Dit is de style op de navigatie */
.header .navigation{
    display: flex;
    align-items: center;
    list-style: none;
    border-style: none;
    margin: 2px 2px;

}

.header .navigation a{
    display: flex;
    padding: 25px;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.header .navigation a:hover{
    color: #2d5b86;
    font-weight: 400;
    
}

input{
    display: flex;
    align-self: center;
    height: 50px;
    width: 200px;
    margin-right: 100px;
}