/* hier komt de styling van de footer op alle pagina's */
.sitemapFooter .hyperlinks{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #223343;
    height: 150px;
    width: 100%;
}

/* styling voot de Lectoraten lijst */
.sitemapFooter .hyperlinks .sitemapLectoraten {
    list-style: none;
    border-style: none;
    margin-top: 40px;
}

.sitemapFooter .hyperlinks .sitemapLectoraten a{
    display: flex;
    align-self: flex-start;
    color: #ffffff;
}

.sitemapFooter .hyperlinks .sitemapLectoraten .lectoraten a{
    font-size: 1.4rem;
    font-weight: 600;
}

/* styling voot de Thema lijst */
.sitemapFooter .hyperlinks .sitemapThema {
    list-style: none;
    border-style: none;
    margin-top: 40px;
}

.sitemapFooter .hyperlinks .sitemapThema a{
    color: #ffffff;
}

.sitemapFooter .hyperlinks .sitemapThema .thema a{
    font-size: 1.4rem;
    font-weight: 600;
}

/* styling voot de nieuws lijst */
.sitemapFooter .hyperlinks .sitemapNieuws{
    list-style: none;
    border-style: none;
    margin-top: 40px;
}

.sitemapFooter .hyperlinks .sitemapNieuws a{
    color: #ffffff;
}

.sitemapFooter .hyperlinks .sitemapNieuws .nieuws a{
    font-size: 1.4rem;
    font-weight: 600;
}

/* styling voot de contact lijst */
.sitemapFooter .hyperlinks .sitemapContact {
    list-style: none;
    border-style: none;
    margin-top: 40px;
}

.sitemapFooter .hyperlinks .sitemapContact a{
    color: #ffffff;
    line-height: 15px;
}

.sitemapFooter .hyperlinks .sitemapContact .contact a{
    font-size: 1.4rem;
    font-weight: 600;
}

/* dit is het hover effect van de a tags */
.sitemapFooter a:hover{
    color: #2d5b86;
}

/* dit is het stukje tekst links onder in de footer met de sociaal media
   dit heb ik appart gedaan zodat ik het makkeklijker kon stylen */
.footer{
    display: flex;
    height: 50px;
    background-color: #223343;
}

.media{
    height: 25px;
    width: 25px;
}